* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Shared Classes */
.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn {
    border: none;
    border-radius: 8px;
    color: white;
    font-size: var(--primary-fontsize);
    font-weight: 700;
    padding: 14px 24px;
    background-color: var(--btn-color);
}

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
    --tertiary-color: #18191F;
    --primary-fontsize: 1rem;
    --brand-logo: 1.5rem;
    --title: 1.75rem;
    --card-para: .875rem;
    --banner-title: 3.25rem;
    --btn-color: #E02C6D;
}






header {
    max-width: 1190px;
    margin: auto;
}

nav {
    padding-top: 40px;
}

.menu {
    gap: 34px;
}

.menu a img {
    padding-top: 10px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-fontsize);
    font-weight: 600;
    text-align: center;
}

#mnav-logo {
    display: none;
}

.brand-logo {
    font-size: var(--brand-logo);
    color: var(--primary-color);
    font-weight: 700;
}

.banner-title {
    font-size: var(--banner-title);
    color: var(--primary-color);

}

.banner-desc {
    font-size: var(--primary-fontsize);
    font-weight: 500;
    color: var(--primary-color);
    margin: 16px 0;

}

.banner-content {
    max-width: 582px;
}

.banner img {
    width: 100%;
}

.banner-image {
    max-width: 475px;
}

.banner-image {
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    /* background-position: center right; */
    background-size: contain;
}

.banner {
    gap: 130px;

    margin: 40px 0 70px;
}

.ecommerce-container {
    max-width: 1110px;
    margin: 0 auto;
    border-width: 3px 0;
    border-style: solid;
    border-color: rgba(192, 204, 218, 0.1);
    padding: 36px 62px;
    gap: 61px;
    margin-bottom: 130px;
}

.card-section {
    max-width: 1050px;
    margin: 0 auto;


}

.section-title {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 476px); */
    gap: 30px;
    margin-top: 40px;
}

.card {
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    border-radius: 5px;
    padding: 17px 15px;

}

.card img {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.title {
    font-size: var(--title);
    color: var(--primary-color);
    font-weight: 600;

}

.card-para {
    font-size: var(--card-para);
    color: var(--secondary-color);
    font-weight: 700;
}

.dollar {
    font-size: var(--brand-logo);
    color: var(--tertiary-color);
}

.feature-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #0A0826;
}

.feature-desc {
    font-size: var(--primary-fontsize);
    color: #6C6C6C;
    font-weight: 700;
    margin: 16px 0;
    line-height: 1.7rem;
}


.feature-container {
    gap: 96px;
    margin: auto;
    max-width: 1110px;
    margin-top: 100px;
}

footer {
    text-align: center;
    background: rgba(10, 8, 38, 1);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 100px;

}

.social-media {
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: white;

}



/* Responsive here */
@media screen and (max-width:576px) {
    .display-flex {
        flex-direction: column-reverse;
    }

    #navbar,
    .menu {
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    #mnav-logo {
        display: block;
    }

    nav {
        padding: 15px;
    }

    .banner {
        background-size: %;
        background-position: top;
        padding: 0 15px;
        gap: 14px;
        text-align: center;
    }

    .banner-image {
        max-width: 257px;
    }

    .banner-title {
        font-size: var(--title);
    }

    .banner-desc {
        font-size: var(--card-para);
        font-weight: 500;
    }

    .brand-logo {
        font-size: var(--primary-fontsize);
    }

    .hide {
        display: none;
    }

    .ecommerce-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card-section {
        padding: 0 15px;
    }

    .card {
        max-height: 100%;
    }

    .feature-container {
        padding: 0 15px;
        text-align: center;
        margin-top: 60px;
        gap: 45px;
    }

    .feature-title {
        font-size: 1.5rem;
    }

    .social-media {
        flex-direction: row;
    }

    .footer-title {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.75rem;
    }
}